@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AuthService.Infrastructure.Web.Settings.ViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer

<form asp-action="ChangePassword" id="change-pass" method="post" class="mt-2">

    <input asp-for="ReturnUrl" type="hidden"/>

    @if (Model.ShowOldPassword)
    {
        <div class="wrap-input">
            <span class="btn-show-pass" id="show-old-pass">
                <i class="zmdi zmdi-eye"></i>
            </span>
            <input asp-for="OldPassword"/>
            <span class="focus-input" asp-placeholder-for="OldPassword">
            </span>
        </div>
        <div class="wrap-error mb-4">
            <span asp-validation-for="OldPassword"></span>
        </div>
    }
    <div class="wrap-input">
        <span class="btn-show-pass" id="show-new-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input asp-for="NewPassword"/>
        <span class="focus-input" asp-placeholder-for="NewPassword">
        </span>
    </div>

    <div class="strength-valid" id="strength-valid" hidden="hidden">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
        <span class="pass-valid-errors"></span>
        <div class="d-none" id="invalid-pass">@Localizer["PassWarning"]</div>
        <div class="d-none" id="week-pass">@Localizer["WeakPass"]</div>
        <div class="d-none" id="medium-pass">@Localizer["MediumPass"]</div>
        <div class="d-none" id="strong-pass">@Localizer["StrongPass"]</div>
    </div>

    <div class="wrap-error mb-4">
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="wrap-input">
        <span class="btn-show-pass" id="show-new-pass-confirm">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input asp-for="NewPasswordConfirm"/>
        <span class="focus-input" asp-placeholder-for="NewPasswordConfirm">
        </span>
    </div>
    <div class="wrap-error mb-4">
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>

    <div class="container-btn">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <input class="m-btn" type="submit" value="@Localizer["Change"]">
        </div>
    </div>
</form>