@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Overoom.Domain.Films.Enums
@model Overoom.WEB.Contracts.FilmLoad.LoadParameters

@{
    ViewData["Title"] = "Добавление фильма";
    var cdnCount = Model.Cdns.Count;
    var genresCount = Model.Genres.Count;
    var countriesCount = Model.Countries.Count;
    var actorsCount = Model.Actors.Count;
    var screenwritersCount = Model.Screenwriters.Count;
    var directorsCount = Model.Directors.Count;
}

<div class="row gy-5">
<div class="col-lg-8">
<h3 class="mb-5">Добавление фильма</h3>
<form asp-action="Index" method="post" id="load" class="form-horizontal" enctype="multipart/form-data">
<div asp-validation-summary="ModelOnly"></div>
<div class="form-group">
<div class="row g-2 block">
    <h4>Информация</h4>
    <div class="col-12">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Type"></label>
        <select asp-for="Type" id="type" class="form-control">
            <option selected="selected" value="">Не выбрано</option>
            <option value="@FilmType.Film">Фильм</option>
            <option value="@FilmType.Serial">Сериал</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="col-6 d-none serial">
        <label asp-for="CountSeasons"></label>
        <input asp-for="CountSeasons" class="form-control"/>
        <span asp-validation-for="CountSeasons" class="text-danger"></span>
    </div>
    <div class="col-6 d-none serial">
        <label asp-for="CountEpisodes"></label>
        <input asp-for="CountEpisodes" class="form-control"/>
        <span asp-validation-for="CountEpisodes" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-12">
        <label asp-for="PosterUri"></label>
        <input asp-for="PosterUri" class="form-control"/>
        <span asp-validation-for="PosterUri" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-12">
        <label asp-for="Poster"></label>
        <input asp-for="Poster" class="form-control"/>
        <span asp-validation-for="Poster" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control"/>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Genres"></label>
            <a href="#" counter="@(genresCount - 1)" id="addGenre" class="btn btn-dark copy-button" copy-name="Genres" copy-target=".copyGenre">+</a>
        </div>
        <div class="row g-2">
            @for (var i = 0; i < genresCount; i++)
            {
                <div class="col-12 copyGenre">
                    <label asp-for="Genres[i].Name"></label>
                    <input asp-for="Genres[i].Name" class="form-control"/>
                    <span asp-validation-for="Genres[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Countries"></label>
            <a href="#" counter="@(countriesCount - 1)" id="addCountry" class="btn btn-dark copy-button" copy-name="Countries" copy-target=".copyCountry">+</a>
        </div>
        <div class="row g-2">
            @for (var i = 0; i < countriesCount; i++)
            {
                <div class="col-12 copyCountry">
                    <label asp-for="Countries[i].Name"></label>
                    <input asp-for="Countries[i].Name" class="form-control"/>
                    <span asp-validation-for="Countries[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
</div>
<div class="row g-2 block">
    <h4>Ссылки</h4>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Cdns"></label>
            <a href="#" counter="@(cdnCount - 1)" id="addCdn" class="btn btn-dark copy-cdn" copy-name="Cdns" copy-target=".copyCdn">+</a>
        </div>
        @for (var i = 0; i < cdnCount; i++)
        {
            <div class="row g-2 block-2 copyCdn">
                <div class="col-lg-6 col-12">
                    <label asp-for="Cdns[i].Type"></label>
                    <select asp-for="Cdns[i].Type" asp-items="Html.GetEnumSelectList<CdnType>()" class="form-control">
                        <option selected="selected" value="">Не выбрано</option>
                    </select>
                    <span asp-validation-for="Cdns[i].Type" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12">
                    <label asp-for="Cdns[i].Quality"></label>
                    <input asp-for="Cdns[i].Quality" class="form-control"/>
                    <span asp-validation-for="Cdns[i].Quality" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="Cdns[i].Uri"></label>
                    <input asp-for="Cdns[i].Uri" class="form-control"/>
                    <span asp-validation-for="Cdns[i].Uri" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <label asp-for="Cdns[i].Voices"></label>
                        <a href="#" counter="0" class="btn btn-dark copy-button" copy-name="Voices" copy-target=".copyVoiceVideoCdn[@i]">+</a>
                    </div>
                    <div class="row g-2">
                        @{
                            int count = Model.Cdns[i].Voices.Count;
                            for (int j = 0; j < count; j++)
                            {
                                <div class="col-12 copyVoiceVideoCdn[@i]">
                                    <label asp-for="Cdns[i].Voices[j].Name"></label>
                                    <input asp-for="Cdns[i].Voices[j].Name" class="form-control"/>
                                    <span asp-validation-for="Cdns[i].Voices[j].Name" class="text-danger"></span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="row g-2 block">
    <h4>Люди</h4>
    <div class="col-12 block-2">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Actors"></label>
            <a href="#" counter="@(actorsCount - 1)" id="addActor" class="btn btn-dark copy-button" copy-name="Actors" copy-target=".copyActor">+</a>
        </div>
        @for (var i = 0; i < actorsCount; i++)
        {
            <div class="row g-2 pt-2 copyActor">
                <div class="col-6">
                    <label asp-for="Actors[i].Name"></label>
                    <input asp-for="Actors[i].Name" class="form-control"/>
                    <span asp-validation-for="Actors[i].Name" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Actors[i].Description"></label>
                    <input asp-for="Actors[i].Description" class="form-control"/>
                    <span asp-validation-for="Actors[i].Description" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Screenwriters"></label>
            <a href="#" counter="@(screenwritersCount - 1)" id="addScreenwriter" class="btn btn-dark copy-button" copy-name="Screenwriters" copy-target=".copyScreenwriter">+</a>
        </div>
        <div class="row g-2 block-2">
            @for (var i = 0; i < screenwritersCount; i++)
            {
                <div class="col-12 copyScreenwriter">
                    <label asp-for="Screenwriters[i].Name"></label>
                    <input asp-for="Screenwriters[i].Name" class="form-control"/>
                    <span asp-validation-for="Screenwriters[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Directors"></label>
            <a href="#" counter="@(directorsCount - 1)" id="addDirector" class="btn btn-dark copy-button" copy-name="Directors" copy-target=".copyDirector">+</a>
        </div>
        <div class="row g-2 block-2">
            @for (var i = 0; i < directorsCount; i++)
            {
                <div class="col-12 copyDirector">
                    <label asp-for="Directors[i].Name"></label>
                    <input asp-for="Directors[i].Name" class="form-control"/>
                    <span asp-validation-for="Directors[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-12">
    <input class="btn shadow-none btn-dark" type="submit" value="Загрузить фильм"/>
</div>
</div>
</form>
</div>
<div class="col-lg-4">
    <a class="btn shadow-none btn-dark mb-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Поиск
    </a>
    <div class="collapse" id="collapseExample">
        <div class="block">
            <label>Название</label>
            <div class="d-flex justify-content-between align-items-center">
                <input name="title" id="title" class="form-control" style="width: 70% !important;"/>
                <a href="#" id="titleSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </div>
            <label>Kinopoisk</label>
            <div class="d-flex justify-content-between align-items-center">
                <input name="id" id="kpId" class="form-control" style="width: 70% !important;"/>
                <a href="#" id="kpIdSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </div>
            <label>Imdb</label>
            <div class="d-flex justify-content-between align-items-center">
                <input name="id" id="imdbId" class="form-control" style="width: 70% !important;"/>
                <a href="#" id="imdbIdSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

@section scripts {
    <script src="~/js/filmLoad.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/load.css"/>
}