@using Films.Start.Application.Abstractions
@model Overoom.WEB.Models.Home.StartPageViewModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Главная - @ApplicationConstants.ProjectName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/css/Home/home.css"/>
    <link rel="stylesheet" href="~/css/Common/navbar.css"/>
    <link rel="stylesheet" href="~/css/Common/footer.css"/>
    <link rel="stylesheet" href="~/css/Common/common.css"/>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
</head>
<body>

<header>
    <div class="video-wrapper">
        <video playsinline autoplay muted loop poster="~/img/poster.jpg">
            <source src="~/video/trailer@(new Random().Next(1, 5)).mp4" type="video/webm">
            Your browser does not support the video tag.
        </video>

        <div class="header">
            <div class="nav-background">
                <partial name="_Navbar"/>
            </div>
            <div class="logo">
                <span class="main-text">Over</span>
                <svg fill="currentColor" class="bi bi-list-nested glasses" viewBox="0 0 500 400">
                    <path d="M160,0c35.622-.7,99.805,39.235,72,73-14.661,17.8-42.593-7.6-64-1-23.526,7.255-53.218,65.441-59,92H392v-1c-13.412-30.072-27.337-79.882-59-91-21.586-7.58-42.917,17.092-61,4-15.05-10.9-6.777-34.677,2-46,16.088-20.756,58.284-41.262,90-22,38.939,23.649,125.567,138.851,136,190V346c-2.4,10.114-9.574,20.662-17,26-15.05,10.818-45.206,8-71,8H332c-11.974-2.9-71.042-48.193-80-58l-81,57H32c-9.552-2.692-19.766-9.791-25-17-13.427-18.494-7-88.009-7-120V198C11.164,146.59,94,37.9,132,11,140.247,5.161,149.684,4.521,160,0ZM49,212V331H157c21.428-8.719,73.666-68.53,98-64,28.706,5.344,63.036,55.29,89,64H451V212H49Zm12,20c23.283-.342,132.629-4.085,143,3,7.889,5.389,11.813,18.953,12,32l-70,50H102l-41-1V232Zm378,0q-0.5,42.5-1,85H353l-69-51c0.39-13.258,5.161-27.208,14-32C311.17,226.86,414.9,231.663,439,232Z"/>
                </svg><span class="main-text">m</span>
                <div class="line"></div>
                <h3 class="side-text">Место для новой истории</h3>
            </div>
        </div>
        @if (ViewData["Alert"] != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewData["Alert"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
    </div>
</header>

<div class="container pt-5">
    <div class="row gy-5">
        <div class="col-lg-8">
            <div>
                <h5 class="mb-4">Новинки:</h5>
                <div class="row gy-3">
                    @foreach (var film in Model.Films)
                    {
                        <div class="film col-xxl-4 col-md-6">
                            <div class="card content-card">
                                <a class="content-link" asp-controller="Film" asp-action="Index" asp-route-id="@film.Id">
                                    <div class="row">
                                        <div class="col-4 col-md-5">
                                            <img src="~/@film.PosterUri" class="card-img-top poster" alt="">
                                        </div>
                                        <div class="col-8 col-md-7">
                                            <div class="card-body ps-0">
                                                <h5 class="card-title">@film.Name</h5>
                                                <p class="card-text genres">@film.Genres</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="mt-5">
                <h5 class="mb-4">Комнаты:</h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <h5 class="mb-4">Последние комментарии:</h5>
                @foreach (var comment in Model.Comments)
                {
                    <a asp-controller="Film" asp-action="Index" asp-route-id="@comment.FilmId" class="text-decoration-none">
                        <div class="comment">
                            <div class="card comment-card bg-comment mb-3">
                                <div class="card-header">
                                    <span class="float-start">@comment.Name</span><span class="float-end">@comment.DateTime</span>
                                </div>
                                <div class="card-body d-flex">
                                    <img src="~/@comment.AvatarUri" alt="" class="comment-avatar">
                                    <span class="card-text">@comment.Text</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<partial name="_Footer"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/filmsSearch.js"></script>
</body>
</html>