@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Overoom.Application.Abstractions.Content.DTOs
@using Overoom.Domain.Films.Enums
@using Overoom.Views.Content
@model Overoom.WEB.Contracts.Content.FilmsSearchParameters
@{
    ViewData["Title"] = "Каталог";
}
<div class="row gx-5 gy-5">
    <div class="filter col-lg-3 col-sm-4">
        <div class="sticky-sm-top pt-3 block-background">
            <form asp-action="FilmsList" method="get" class="form-horizontal" id="filter">
                <div class="pb-3">
                    <div class="mb-3">
                        <label asp-for="Query"></label>
                        <input asp-for="Query" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Person"></label>
                        <input asp-for="Person" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                            <option value="@FilmType.Film">Фильм</option>
                            <option value="@FilmType.Serial">Сериал</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <span>Год выхода</span>
                        <div class="d-flex mt-2 justify-content-around align-items-center">
                            <label asp-for="MinYear"></label>
                            <input style="width: 85%" asp-for="MinYear" class="form-control form-control-sm"/>
                        </div>
                        <div class="d-flex mt-2 justify-content-around align-items-center">
                            <label asp-for="MaxYear"></label>
                            <input style="width: 85%" asp-for="MaxYear" class="form-control form-control-sm"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Genre"></label>
                        <select asp-for="Genre" asp-items="Constants.Genres" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Country"></label>
                        <select asp-for="Country" asp-items="Constants.Countries" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SortBy"></label>
                        <div class="form-check">
                            <input asp-for="SortBy" class="form-check-input" type="radio" value="@FilmSortBy.Date" id="date">
                            <label class="form-check-label" for="date">
                                По дате
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="SortBy" class="form-check-input" type="radio" value="@FilmSortBy.Rating" id="rating">
                            <label class="form-check-label" for="rating">
                                По оценке
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="InverseOrder"></label>
                        <div class="form-check">
                            <input asp-for="InverseOrder" class="form-check-input" type="radio" value="@false" id="false">
                            <label class="form-check-label" for="false">
                                По возрастанию
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="InverseOrder" class="form-check-input" type="radio" value="@true" id="true">
                            <label class="form-check-label" for="true">
                                По убыванию
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <a class="nav-link" id="clearFilter" href="#">Отчистить фильтр</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-9 col-sm-8">
        <div class="row gx-5 gy-5 films"></div>
        <div class="spinner">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/scroller.js"></script>
    <script src="~/js/contentFilms.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/content.css"/>
}