@model PJMS.AuthService.Web.Account.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["LoginTitle"];
}

<h5 class="card-title">@Localizer["LoginTitle"]</h5>
<span class="card-logo">
    <i class="zmdi zmdi-font"></i>
</span>
@if (Model.EnableLocalLogin)
{
    <form asp-action="Login" method="post" class="account mt-lg-5 mt-md-3 mt-1">

        <input asp-for="ReturnUrl" type="hidden"/>

        <div class="wrap-input">
            <input asp-for="Email" autofocus>
            <span class="focus-input"
                  asp-placeholder-for="Email">
            </span>
        </div>
        <div class="wrap-error mb-4">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="wrap-input">
            <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
            </span>
            <input asp-for="Password"/>
            <span class="focus-input"
                  asp-placeholder-for="Password">
            </span>
        </div>
        <div class="wrap-error mb-2">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="d-flex align-items-center mb-2 mb-md-5">
            <div class="form-check">
                <input asp-for="RememberLogin"
                       class="form-check-input">
                <label asp-for="RememberLogin"
                       class="form-check-label">
                </label>
            </div>
            <a asp-action="RecoverPassword" asp-route-returnUrl="@Model.ReturnUrl" class="card-link ms-auto">@Localizer["ForgotPassword"]</a>
        </div>
        @if (Model.ExternalProviders.Any())
        {
            <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
        }
        <div class="container-btn mb-4">
            <div class="wrap-btn on-load">
                <div class="bg-btn"></div>
                <input class="m-btn" type="submit" value="@Localizer["LogIn"]">
            </div>
        </div>
    </form>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-hover">
            <div class="bg-btn"></div>
            <a class="m-btn" asp-action="Cancel" asp-route-returnUrl="@Model.ReturnUrl">
                @Localizer["Cancel"]
            </a>
        </div>
    </div>
    <div class="text-center card-subtitle">
        <span>
            @Localizer["NoAccount"]
        </span>

        <a class="card-link" asp-controller="Registration" asp-action="Registration" asp-route-returnUrl="@Model.ReturnUrl">
            @Localizer["Registration"]
        </a>
    </div>
}
else if (Model.ExternalProviders.Any())
{
    <partial name="_Oauth" model="@(Model.ExternalProviders, Model.ReturnUrl)"/>
}
else if (!Model.EnableLocalLogin)
{
    <div class="alert alert-warning">
        <strong>@Localizer["InvalidRequest"]</strong>
        @Localizer["SchemesNotConfigured"]
    </div>
}