@using Overoom.Domain.Films.Enums
@model Overoom.WEB.Contracts.FilmManagement.Load.LoadParameters

@{
    ViewData["Title"] = "Добавление фильма";
    var cdnCount = Model.Cdns.Count;
    var genresCount = Model.Genres.Count;
    var countriesCount = Model.Countries.Count;
    var actorsCount = Model.Actors.Count;
    var screenwritersCount = Model.Screenwriters.Count;
    var directorsCount = Model.Directors.Count;
}

<div class="row">
<div class="col-12 mb-5">
    <h3>Добавление фильма</h3>
</div>
<div class="col-lg-4 order-lg-3">
    <div class="block sticky-lg-top">
        <label>Название</label>
        <div class="d-flex justify-content-between align-items-center">
            <input name="title" id="title" class="form-control" style="width: 70% !important;"/>
            <button class="btn btn-success" id="titleSearch">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
        <label>Kinopoisk</label>
        <div class="d-flex justify-content-between align-items-center">
            <input name="id" id="kpId" class="form-control" style="width: 70% !important;"/>
            <button class="btn btn-success" id="kpIdSearch">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
        <label>Imdb</label>
        <div class="d-flex justify-content-between align-items-center">
            <input name="id" id="imdbId" class="form-control" style="width: 70% !important;"/>
            <button class="btn btn-success" id="imdbIdSearch">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="col-lg-8 order-lg-2">
<form asp-action="Load" method="post" id="load" class="form-horizontal" enctype="multipart/form-data">
<div asp-validation-summary="ModelOnly"></div>
<div class="form-group">
<div class="row g-2 block">
    <h4>Информация</h4>
    <div class="col-12">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Type"></label>
        <select asp-for="Type" id="type" class="form-control">
            <option selected="selected" value="">Не выбрано</option>
            <option value="@FilmType.Film">Фильм</option>
            <option value="@FilmType.Serial">Сериал</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="col-6 d-none serial">
        <label asp-for="CountSeasons"></label>
        <input asp-for="CountSeasons" class="form-control"/>
        <span asp-validation-for="CountSeasons" class="text-danger"></span>
    </div>
    <div class="col-6 d-none serial">
        <label asp-for="CountEpisodes"></label>
        <input asp-for="CountEpisodes" class="form-control"/>
        <span asp-validation-for="CountEpisodes" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-12">
        <label asp-for="PosterUri"></label>
        <input asp-for="PosterUri" class="form-control"/>
        <span asp-validation-for="PosterUri" class="text-danger"></span>
    </div>
    <div class="col-lg-6 col-12">
        <label asp-for="Poster"></label>
        <input asp-for="Poster" class="form-control" accept="image/jpeg,image/png"/>
        <span asp-validation-for="Poster" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control"/>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="col-12 block-2">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Genres"></label>
            <div>
                <a href="#" counter="@(genresCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="genre">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="genre">-</a>
            </div>
        </div>
        <div class="row g-2" id="genre">
            @for (var i = 0; i < genresCount; i++)
            {
                <div class="col-12">
                    <label asp-for="Genres[i].Name"></label>
                    <input asp-for="Genres[i].Name" class="form-control"/>
                    <span asp-validation-for="Genres[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <div class="col-12 block-2">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Countries"></label>
            <div>
                <a href="#" counter="@(countriesCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="country">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="country">-</a>
            </div>
        </div>
        <div class="row g-2" id="country">
            @for (var i = 0; i < countriesCount; i++)
            {
                <div class="col-12">
                    <label asp-for="Countries[i].Name"></label>
                    <input asp-for="Countries[i].Name" class="form-control"/>
                    <span asp-validation-for="Countries[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
</div>
<div class="row g-2 block">
    <h4>Ссылки</h4>
    <div class="col-12" id="cdn">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Cdns"></label>
            <div>
                <a href="#" counter="@(cdnCount - 1)" class="btn manage-button btn-outline-primary copy-cdn" add-target="cdn">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="cdn">-</a>
            </div>
        </div>
        @for (var i = 0; i < cdnCount; i++)
        {
            <div class="row g-2 block-2">
                <div class="col-lg-6 col-12">
                    <label asp-for="Cdns[i].Type"></label>
                    <select asp-for="Cdns[i].Type" class="form-control">
                        <option selected="selected" value="">Не выбрано</option>
                        <option value="@CdnType.Bazon">Bazon</option>
                        <option value="@CdnType.VideoCdn">VideoCDN</option>
                    </select>
                    <span asp-validation-for="Cdns[i].Type" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-12">
                    <label asp-for="Cdns[i].Quality"></label>
                    <input asp-for="Cdns[i].Quality" class="form-control"/>
                    <span asp-validation-for="Cdns[i].Quality" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="Cdns[i].Uri"></label>
                    <input asp-for="Cdns[i].Uri" class="form-control"/>
                    <span asp-validation-for="Cdns[i].Uri" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @{
                        var count = Model.Cdns[i].Voices.Count;
                    }
                    <div class="d-flex justify-content-between align-items-center">
                        <label asp-for="Cdns[i].Voices"></label>
                        <div>
                            <a href="#" counter="@(count - 1)" cdn-counter="@i" class="btn manage-button btn-outline-primary copy-voice-cdn" add-target="voiceCdn[@i]">+</a>
                            <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="voiceCdn[@i]">-</a>
                        </div>

                    </div>
                    <div class="row g-2" id="voiceCdn[@i]">
                        @for (var j = 0; j < count; j++)
                        {
                            <div class="col-12">
                                <label asp-for="Cdns[i].Voices[j].Name"></label>
                                <input asp-for="Cdns[i].Voices[j].Name" class="form-control"/>
                                <span asp-validation-for="Cdns[i].Voices[j].Name" class="text-danger"></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="row g-2 block">
    <h4>Люди</h4>
    <div class="col-12 block-2" id="actor">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Actors"></label>
            <div>
                <a href="#" counter="@(actorsCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="actor">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="actor">-</a>
            </div>
        </div>
        @for (var i = 0; i < actorsCount; i++)
        {
            <div class="row g-2 pt-2">
                <div class="col-6">
                    <label asp-for="Actors[i].Name"></label>
                    <input asp-for="Actors[i].Name" class="form-control"/>
                    <span asp-validation-for="Actors[i].Name" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Actors[i].Description"></label>
                    <input asp-for="Actors[i].Description" class="form-control"/>
                    <span asp-validation-for="Actors[i].Description" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
    <div class="col-12 block-2">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Screenwriters"></label>
            <div>
                <a href="#" counter="@(screenwritersCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="screenwriter">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="screenwriter">-</a>
            </div>
        </div>
        <div class="row g-2" id="screenwriter">
            @for (var i = 0; i < screenwritersCount; i++)
            {
                <div class="col-12">
                    <label asp-for="Screenwriters[i].Name"></label>
                    <input asp-for="Screenwriters[i].Name" class="form-control"/>
                    <span asp-validation-for="Screenwriters[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
    <div class="col-12 block-2">
        <div class="d-flex justify-content-between align-items-center">
            <label asp-for="Directors"></label>
            <div>
                <a href="#" counter="@(directorsCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="director">+</a>
                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="director">-</a>
            </div>
        </div>
        <div class="row g-2" id="director">
            @for (var i = 0; i < directorsCount; i++)
            {
                <div class="col-12">
                    <label asp-for="Directors[i].Name"></label>
                    <input asp-for="Directors[i].Name" class="form-control"/>
                    <span asp-validation-for="Directors[i].Name" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-12">
    <input class="btn shadow-none btn-dark" type="submit" value="Загрузить фильм"/>
</div>
</div>
</form>
</div>
</div>

@section scripts {
    <script src="~/js/filmLoad.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/load.css"/>
}